@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500;1,600&family=Roboto:wght@300&display=swap');

.title1 {
    font-weight: 500;
    font-style: italic;
}

.title2 {
    font-weight: 600;
    font-style: italic;
}

body {
    margin: 0;
}

.head_bar {
    background: #852665;
    color: white;
    display: flex;
}

.home {
    font-size: 12px;
    text-align: left;
    color: white;
    flex-basis: 50%;
    letter-spacing: 5.20px;
    margin-left: 30px;
}

.name {
    font-size: 11px;
    display: flex;
    right: 80px;
    color: white;
    letter-spacing: 3.20px;
    position: absolute;
}

.user_img {
    display: flex;
    width: 35px;
    color: white;
    right: 40px;
    margin-top: 9px;
    position: absolute;
}

.title {
    font-size: 32px;
    margin-left: 100px;
    position: relative;
    color: #852665;
}

.line-1 {
    left: 0;
    top: 70px;
    right: 100px;
    height: 2px;
    position: absolute;
    background: #852665;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 260px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -490px;
    margin-top: 110px;

}

.col1 {
    flex-basis: 31%;
    background: #81CB62;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 1px 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.calender_img {
    width: 75%;
    padding-top: 20px;
    padding-left: 35px;
}

.col1::after {
    content: 'CALENDAR';
    font-family: 'Montserrat';
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    width: 0%;
    height: 23px;
    background: #81CB62;
    display: block;
    margin-top: 65px;
    margin-left: 25px;
    transition: 0.5s;
    text-align: center;
}

.col1:hover::after {
    width: 80%;
    padding: 5px;
}

.col2 {
    flex-basis: 31%;
    background-color: #92D3E7;
    border-radius: 20px;
    padding-left: 35px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 1px 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.col2::after {
    content: 'TIMELINE';
    font-family: 'Montserrat';
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    width: 0%;
    height: 23px;
    background-color: #92D3E7;
    display: block;
    margin-top: 61.5px;
    margin-left: -5px;
    transition: 0.5s;
    text-align: center;
}

.col2:hover::after {
    width: 92%;
    padding: 5px;
}

.timeline_img {
    width: 85%;
    padding-top: 25px;

}

.col3 {
    flex-basis: 31%;
    background: #FFC700;
    border-radius: 20px;
    padding-left: 35px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 1px 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.col3::after {
    content: 'SETTINGS';
    font-family: 'Montserrat';
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    width: 0%;
    height: 23px;
    background: #FFC700;
    display: block;
    margin-top: 69.5px;
    transition: 0.5s;
    margin-left: -5px;
    text-align: center;
}

.col3:hover::after {
    width: 92%;
    padding: 5px;
}

.settings_img {
    width: 80%;
    padding-top: 30px;
    padding-left: 5px;
}

footer {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #81CB62;
    float: right;
    padding-left: 5px;
    margin-right: 30px;
    margin-top: 420px;
    margin-bottom: 20px;
}


footer img {
    width: 40px;
    padding-left: 10px;
}

footer p {
    padding-left: 20px;
    padding-right: 25px;
    letter-spacing: 3.20px;
    color: white;
}

.col4 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 13px;
}

/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500;1,600&family=Roboto:wght@300&display=swap');

.title1 {
    font-weight: 500;
}

.title2 {
    font-weight: 600;
}

body {
    margin: 0;
}

.head_bar {
    background: #852665;
    color: white;
    display: flex;
}

.home {
    font-size: 12px;
    text-align: left;
    color: white;
    flex-basis: 80%;
    letter-spacing: 5.20px;
    margin-left: 30px;
}

.name {
    font-size: 11px;
    flex-basis: 8%;
    display: flex;
    color: white;
    letter-spacing: 3.20px;
    margin-right: -100px;
}

.user_img {
    display: flex;
    flex-basis: 8%;
    width: 35px;
    color: white;
    
    margin-top: 9px;

}

.title {
    font-size: 32px;
    width: 80%;
    left: 100px;
    top: 70px;
    position: absolute;
    font-style: italic;
    color: #852665;
}

.line-1 {
    left: 100px;
    top:180px;
    right: 100px;
    height: 2px;
    position: absolute;
    background: #852665;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 45%;
    margin: auto;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col1 {
    flex-basis: 31%;
    background: #81CB62;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 1px 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.calender_img {
    width: 75%;
    padding-top: 20px;
    padding-left: 35px;
}

.col1::after {
    content: 'CALENDAR';
    font-family: 'Montserrat';
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    width: 0%;
    height: 23px;
    background: #81CB62;
    display: block;
    margin-top: 65px;
    margin-left: 25px;
    transition: 0.5s;
    text-align: center;
}

.col1:hover::after {
    width: 80%;
    padding: 5px;
}

.col2 {
    flex-basis: 31%;
    background-color: #92D3E7;
    border-radius: 20px;
    padding-left: 35px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 1px 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.col2::after {
    content: 'TIMELINE';
    font-family: 'Montserrat';
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    width: 0%;
    height: 23px;
    background-color: #92D3E7;
    display: block;
    margin-top: 61.5px;
    margin-left: -5px;
    transition: 0.5s;
    text-align: center;
}

.col2:hover::after {
    width: 92%;
    padding: 5px;
}

.timeline_img {
    width: 85%;
    padding-top: 25px;

}

.col3 {
    flex-basis: 31%;
    background: #FFC700;
    border-radius: 20px;
    padding-left: 35px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 1px 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.col3::after {
    content: 'SETTINGS';
    font-family: 'Montserrat';
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    width: 0%;
    height: 23px;
    background: #FFC700;
    display: block;
    margin-top: 69.5px;
    transition: 0.5s;
    margin-left: -5px;
    text-align: center;
}

.col3:hover::after {
    width: 92%;
    padding: 5px;
}

.settings_img {
    width: 80%;
    padding-top: 30px;
    padding-left: 5px;
}

footer {
    flex-basis: 50%;
    margin-top: 550px;
    float: right;
    background: #81CB62;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.admin {
    display: flex;
    align-items: center;
}

.admin img {
    width: 40px;
    padding-left: 10px;
}

.admin p {
    padding-left: 20px;
    padding-right: 25px;
    letter-spacing: 3.20px;
    color: white;
}

.col4 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 13px;
}
*/